

<div class="container py-5">
    <ul class="list-group">
  <li class="list-group-item disabled" aria-disabled="true">Web Develp</li>
  <li class="list-group-item">Digital Marketing</li>
  <li class="list-group-item">Android Develp</li>
</ul>
<a class="btn btn-danger btn-lg active ml-4" href="/home">Home</a>
</div>