<div class="container">
    <ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
</ul>
<a class="btn btn-danger btn-lg active ml-4" href="/home">Home</a>
</div>